body{
    cursor: url(../imagens/mata_mosquito.png),auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../imagens/bg.jpg);
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    height: 587px;
    margin: 0;
}

#adviso{
    margin: 0 auto;
    position: relative;
    top: 40px;
    width: fit-content;
    font-size: 250%;
    color: royalblue;
    padding: 10px;
}
#adviso:hover{
    color: blue;
}