body{
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    cursor: url(../imagens/mata_mosquito.png),auto;
    min-height: 600px;
}

.alinhamento{
    margin: 0 auto;
    width: fit-content;
}

#imagem1{
    background-image: url(../imagens/vitoria.png);
    height: 500px;
    width: 500px;
}
#imagem2{
    background-image: url(../imagens/game_over.png);
    height: 500px;
    width: 500px;
}

button{
    color: white;
    background-color: crimson;
    padding: 10px;
    height: 50px;
    width: 230px;
    border: none;
    font-size: 150%;
    transition: 0.4s;
    font-size: 150%;
}
button:hover{
    background-color: orangered;
    transition: 0.4s;
}